:root {
  --pc-content-width: 540px;
  --sp-content-width: 640px;
  --color-main: #96b7c0;
  --color-text: #282d30;
  --color-sub-text: #b7bec3;
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
}

html,
body {
  overscroll-behavior-y: none; // ストレッチオーバースクロールを防止
}

html {
  scrollbar-width: thin;
}

body {
  font-size: clamp-size(14);
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-text);

  @include mq-desktop {
    font-size: 18px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
