:root {
  --pc-content-width: 540px;
  --sp-content-width: 640px;
  --color-main: #96b7c0;
  --color-text: #282d30;
  --color-sub-text: #b7bec3;
  --ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
}

html {
  scrollbar-color: #60929f transparent;
  scrollbar-width: thin;
}

html.is-changing .transition-fade {
  opacity: 1;
  transition: opacity 0.4s var(--ease-out-sine);
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  font-size: clamp-size(14);
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-text);

  @include mq-desktop {
    font-size: 18px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.02);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}
