:root {
  --sp-max-width: 640px;
  --main-color: #96B7C0;
  --text-color: #282D30;
  --text-sub-color: #B7BEC3;
}

body {
  font-size: clamp-size(14);
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
}