---
import BaseLayout from '@layouts/Layout.astro';
import FirstVisual from '@components/FirstVisual.astro';
import Story from '@components/Story.astro';
import Menu from '@components/Menu.astro';
import Item from '@components/Item.astro';
import ShopInfo from '@components/ShopInfo.astro';
---

<BaseLayout>
  <FirstVisual />
  <div class="content">
    <Story />
    <Menu />
    <Item />
    <ShopInfo />
  </div>
</BaseLayout>

<style>
  .content {
    width: 100%;
    padding-bottom: 104px;
  }
</style>
