---
import catchPhrase from '@assets/fv_catch-phrase.svg';
---

<section class="fv">
  <div class="fv-image"></div>
  <h1 class="catchphrase">
    <img src={catchPhrase.src} alt="波と珈琲と静けさと。" />
  </h1>
</section>

<style lang="scss">
  .fv {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .fv-image {
    position: relative;
    width: 100%;
    height: 50%;
    background-image: url('../assets/fv_01_sp.jpg');
    background-position: center;
    background-size: cover;
  }

  .catchphrase {
    display: grid;
    place-items: center;
    width: 100%;
    height: 50%;

    img {
      width: clamp-size(82);
    }
  }
</style>
