---
import Instagram from '@assets/icon_instagram.svg';
import Logo from '@components/Logo.astro';
const base = import.meta.env.BASE_URL;
---

<footer class="footer">
  <div class="logo">
    <a href={`${base}/`}><Logo color="#fff" /></a>
  </div>
  <div class="sns">
    <a class="sns-icon" href="https://instagram.com/" target="_blank">
      <img src={Instagram.src} alt="instagram" />
    </a>
  </div>
  <small class="copyright">©2025 calm coffee</small>
</footer>

<style lang="scss">
  .footer {
    padding: clamp-size(64) clamp-size(20) clamp-size(40);
    color: #fff;
    text-align: center;
    background-color: var(--color-main);
  }

  .logo {
    display: inline-block;
    width: clamp-size(140);
  }

  .sns {
    margin-top: clamp-size(32);

    > .sns-icon {
      display: inline-block;

      img {
        width: clamp-size(40);
        height: clamp-size(40);
      }
    }
  }

  .copyright {
    display: block;
    margin-top: clamp-size(64);
    text-align: center;
  }
</style>
