---
import Navigation from '@components/Navigation.astro';
import ShopInfoDetails from '@components/ShopInfoDetails.astro';
---

<div id="global-menu" class="global-menu">
  <div class="global-menu-inner">
    <Navigation />
    <div class="shop-info-details">
      <ShopInfoDetails iconColor="#fff" />
    </div>
  </div>
</div>

<style lang="scss" is:global>
  .global-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    overscroll-behavior: none;
    color: #fff;
    pointer-events: auto;
    scrollbar-width: none;
    background-color: color-mix(in srgb, var(--color-main) 60%, transparent);
    backdrop-filter: blur(20px);
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq-desktop {
      width: var(--pc-content-width);
    }

    .open & {
      display: block;
    }
  }
</style>

<style lang="scss">
  .global-menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 100%;
    padding: clamp-size(64) clamp-size(20) clamp-size(80);
    margin: 0 auto;

    @include mq-desktop {
      justify-content: center;
    }
  }

  .shop-info-details {
    display: flex;
    place-self: center;
    justify-content: center;
    width: fit-content;
    padding: clamp-size(32) clamp-size(12);
    margin-top: clamp-size(24);
    border-top: 1px solid #fff;
  }
</style>
