---
import logoType from '@assets/logo_type.svg';
import MenuButton from '@components/MenuButton.astro';
import Navigation from '@components/Navigation.astro';
import ShopInfoDetails from '@components/ShopInfoDetails.astro';
---

<header class="header">
  <div class="logo">
    <img src={logoType.src} alt="calm coffee" />
  </div>
  <div class="header-menu">
    <MenuButton />
  </div>
  <!-- <div class="global-menu">
    <Navigation />
    <div class="shop-info-details">
      <ShopInfoDetails iconColor="#fff" />
    </div>
  </div> -->
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    // height: 60px;
    padding: 10px 14px;
  }

  .global-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    padding: 64px 16px;
    overflow: auto;
    color: #fff;
    background-color: color-mix(in srgb, var(--main-color) 60%, transparent);
    backdrop-filter: blur(20px);
  }

  .shop-info-details {
    padding: 16px 12px;
    margin-top: 32px;
    border: 1px solid #fff;
    border-radius: 8px;
  }
</style>
