---
interface Props {
  url: string;
  text: string;
}

const { url, text } = Astro.props;
---

<a class="link" href={url} target="_blank">{text}</a>

<style lang="scss">
  .link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: clamp-size(168);
    padding: clamp-size(8);
    line-height: 1;
    border-bottom: 1px solid var(--text-color);

    @include mq-desktop {
      width: 220px;
      padding: 12px;
    }

    &::after {
      display: block;
      width: clamp-size(20);
      height: clamp-size(20);
      content: '';
      background-image: url('../assets/icon_external.svg');
      background-repeat: no-repeat;
      background-size: contain;

      @include mq-desktop {
        width: 20px;
        height: 20px;
      }
    }
  }
</style>
