<button class="menu-button">
  <div class="menu-button-line">
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>

<style lang="scss">
  .menu-button {
    display: grid;
    place-items: center;
    width: clamp-size(48);
    height: clamp-size(48);

    .menu-button-line {
      position: relative;
      display: flex;
      flex-direction: column;
      width: clamp-size(35);
      height: clamp-size(23);

      > span {
        display: block;
        width: 100%;
        height: clamp-size(2);
        background-color: #fff;
        border-radius: 999px;
        opacity: 1;

        @include mq-desktop {
          background-color: var(--text-color);
        }

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          position: absolute;
        }

        &:nth-of-type(1) {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 10.5px;
        }

        &:nth-of-type(3) {
          top: 21px;
          right: 0;
          width: 50%;
        }
      }
    }
  }
</style>
