<button id="js-menu-button" class="menu-button">
  <span class="line"></span>
  <span class="line"></span>
</button>

<style lang="scss" is:global>
  .menu-button {
    position: relative;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp-size(48);
    height: clamp-size(48);
  }

  .line {
    position: absolute;
    width: clamp-size(35);
    height: 2px;
    background-color: var(--color-text);
    border-radius: 999px;
    transform-origin: center;

    &:nth-of-type(1) {
      transform: translateY(calc(clamp-size(6) * -1));
    }

    &:nth-of-type(2) {
      transform: translateY(clamp-size(6));
    }

    .open & {
      background-color: #fff;

      &:nth-of-type(1) {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }
  }
</style>
