---
const isTop = Astro.url.pathname === '/';
import Instagram from '@assets/icon_instagram.svg';
---

<div class="global-navigation">
  <nav id="js-nav" class="nav">
    <ul class="nav-list">
      <li><a href={isTop ? '#top' : '/'}>TOP</a></li>
      <li><a href={isTop ? '#story' : '/#story'}>STORY</a></li>
      <li><a href={isTop ? '#menu' : '/#menu'}>MENU</a></li>
      <li><a href={isTop ? '#item' : '/#item'}>ITEM</a></li>
      <li><a href={isTop ? '#store-info' : '/#store-info'}>STORE INFO</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="sns">
      <a class="sns-icon" href="https://instagram.com/" target="_blank">
        <img src={Instagram.src} alt="instagram" />
      </a>
    </div>
  </nav>
</div>

<style lang="scss">
  .global-navigation {
    text-align: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;

    > li {
      > a {
        display: inline-block;
        padding: clamp-size(12) clamp-size(16);
        font-size: clamp-size(16);
        line-height: 1;
      }

      & + li {
        margin-top: clamp-size(16);

        @include mq-desktop {
          margin-top: 10px;
        }
      }
    }
  }

  .sns {
    margin-top: clamp-size(32);

    > .sns-icon {
      display: inline-block;

      img {
        width: clamp-size(40);
        height: clamp-size(40);
      }
    }
  }
</style>
