---
import Instagram from '@assets/icon_instagram.svg';
import Logo from '@components/Logo.astro';
---

<div class="global-navigation">
  <div class="logo">
    <Logo color="#fff" />
  </div>
  <nav class="nav" aria-label="フッターナビゲーション">
    <ul class="nav-list">
      <li><a href="#story">STORY</a></li>
      <li><a href="#menu">MENU</a></li>
      <li><a href="#item">ITEM</a></li>
      <li><a href="#store-info">STORE INFO</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="sns">
      <a class="sns-icon" href="https://instagram.com/" aria-label="Instagram" target="_blank">
        <img src={Instagram.src} alt="instagram" />
      </a>
    </div>
  </nav>
</div>

<style lang="scss">
  .global-navigation {
    text-align: center;
  }

  .logo {
    display: inline-block;
    width: clamp-size(168);
  }

  .nav {
    padding: clamp-size(48) 0 clamp-size(32);
  }

  .nav-list {
    display: flex;
    flex-direction: column;

    > li {
      > a {
        display: inline-block;
        padding: clamp-size(12) clamp-size(16);
        font-size: clamp-size(16);
        line-height: 1;
      }

      & + li {
        margin-top: clamp-size(16);
      }
    }
  }

  .sns {
    margin-top: clamp-size(32);

    > .sns-icon {
      display: inline-block;

      img {
        width: clamp-size(40);
        height: clamp-size(40);
      }
    }
  }
</style>
