---
interface Props {
  id: string;
  title: string;
  subTitle: string;
  paragraphs: string[];
}

const { id, title, subTitle, paragraphs } = Astro.props;
---

<section id={id} class="section">
  <header class="header">
    <h2 class="title">{title}</h2>
    <p class="subtitle" set:html={subTitle} />
  </header>
  <div class="description">
    {paragraphs.map((p) => <p set:html={p} />)}
  </div>
  <div class="content">
    <slot />
  </div>
</section>

<style lang="scss">
  .section {
    padding: 80px 20px 64px;
  }

  .title {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-sub-color);
  }

  .subtitle {
    margin-top: 12px;
    font-size: 43px;
    font-weight: 300;
    line-height: 1.4;
    color: var(--text-color);
  }

  .description {
    margin-top: 40px;
    margin-bottom: 48px;

    p + p {
      margin-top: 16px;
    }
  }
</style>
