---
import ShopInfoDetails from '@components/ShopInfoDetails.astro';
import LinkButton from '@components/LinkButton.astro';
import ShopInfoImg from '@assets/image_shop-info.jpg';
---

<section id="store-info" class="store-info" aria-label="店舗情報">
  <div class="store-info-image">
    <img src={ShopInfoImg.src} alt="鎌倉の風景" />
  </div>
  <div class="shop-info-details">
    <ShopInfoDetails />
  </div>
  <div class="google-map">
    <LinkButton url="https://maps.app.goo.gl/fVz5B7Dtum7vN1vz8" text="Google MAPで見る" />
  </div>
</section>

<style lang="scss">
  .store-info {
    padding-bottom: clamp-size(80);
    margin-top: clamp-size(48);

    @include mq-desktop {
      padding-bottom: 64px;
      margin-top: 48px;
    }
  }

  .store-info-image {
    img {
      aspect-ratio: 1.414 /1;
      object-fit: cover;
    }
  }

  .shop-info-details {
    max-width: var(--sp-content-width);
    padding: 0 clamp-size(20);
    margin: clamp-size(48) auto 0;

    @include mq('mobile', 'tablet') {
      display: grid;
      place-items: center;
    }

    @include mq-desktop {
      max-width: var(--pc-content-width);
      padding: 0 40px;
      margin: 48px auto 0;
    }
  }

  .google-map {
    width: 100%;
    margin-top: clamp-size(32);
    text-align: center;

    @include mq-desktop {
      margin-top: 40px;
    }
  }
</style>
