---
import ShopInfoDetails from '@components/ShopInfoDetails.astro';
import LinkButton from '@components/LinkButton.astro';
import ShopInfoImg from '@assets/image_shop-info.jpg';
---

<section id="store-info" class="store-info" aria-label="店舗情報">
  <div class="store-info-image">
    <img src={ShopInfoImg.src} alt="鎌倉の風景" />
  </div>
  <div class="shop-info-details">
    <ShopInfoDetails />
  </div>
  <div class="google-map">
    <LinkButton text="Google MAPで見る" />
  </div>
</section>

<style lang="scss">
  .store-info {
    padding-bottom: clamp-size(80);
    margin-top: clamp-size(48);
  }

  .store-info-image {
    margin-bottom: clamp-size(48);

    img {
      aspect-ratio: 1.414 /1;
    }
  }

  .shop-info-details {
    max-width: var(--max-width);
    padding: 0 clamp-size(20);
    margin: clamp-size(48) auto 0;

    @include mq('mobile', 'tablet') {
      display: grid;
      place-items: center;
    }
  }

  .google-map {
    width: 100%;
    margin-top: clamp-size(32);
    text-align: center;
  }
</style>
