---
import { Image } from 'astro:assets';
import ShopInfoDetails from '@components/ShopInfoDetails.astro';
import LinkButton from '@components/LinkButton.astro';
import ShopInfoImg from '@assets/image_shop-info.jpg';
---

<section id="store-info" class="store-info">
  <div class="store-info-image">
    <Image src={ShopInfoImg} alt="鎌倉の風景" />
  </div>
  <div class="content">
    <div class="shop-info-details">
      <ShopInfoDetails />
    </div>
    <div class="google-map">
      <LinkButton url="https://maps.app.goo.gl/fVz5B7Dtum7vN1vz8" text="Google MAPで見る" />
    </div>
  </div>
</section>

<style lang="scss">
  .store-info {
    margin-top: clamp-size(48);
  }

  .store-info-image {
    img {
      aspect-ratio: 1.414 /1;
      object-fit: cover;
    }
  }

  .content {
    max-width: var(--sp-content-width);
    padding: clamp-size(48) clamp-size(20) clamp-size(32);
    margin: 0 auto;
  }

  .shop-info-details {
    @include mq('mobile') {
      display: grid;
      place-items: center;
    }
  }

  .google-map {
    width: 100%;
    margin-top: clamp-size(32);
    text-align: center;
  }
</style>
