---
import StoryTitle from '@assets/story_title.svg';
import StoryImg from '@assets/image_story.jpg';
---

<section id="story" class="story">
  <div class="story-wrapper">
    <h2 class="story-title">
      <img src={StoryTitle.src} alt="心がほどける鎌倉の一杯。" />
    </h2>
    <div class="story-body">
      <p class="story-text">
        <span>忙しさに追われる毎日。</span>
        <span>そんな日々の合間に訪れる、</span>
        <span>ほっと息をつく時間。</span>
      </p>
      <p class="story-text">
        <span>「心がほどける、静かな余白を届けたい」</span>
        <span>そんな想いから、calm coffeeは生まれました。</span>
      </p>
      <p class="story-text">
        <span>潮の香りを乗せた風が頬を撫で、</span>
        <span>七里ヶ浜の波音が静かに寄せては返す。</span>
      </p>
      <p class="story-text">
        <span>その穏やかなリズムに合わせるように、</span>
        <span>一杯の珈琲が心をほどいていく。</span>
      </p>
      <p class="story-text">
        <span>ここでしか味わえない、</span>
        <span>鎌倉の一杯をお楽しみください。</span>
      </p>
    </div>
  </div>
  <div class="story-image">
    <img src={StoryImg.src} alt="story image" />
  </div>
</section>

<style lang="scss">
  .story {
    padding-top: clamp-size(40);
    padding-bottom: clamp-size(64);
  }

  .story-wrapper {
    max-width: var(--sp-content-width);
    padding: clamp-size(40) clamp-size(20) clamp-size(64);
    margin: 0 auto;
  }

  .story-title {
    img {
      display: inline-block;
      width: clamp-size(250);
      height: auto;
    }
  }

  .story-body {
    margin-top: clamp-size(48);
  }

  .story-text {
    display: flex;
    flex-direction: column;
    font-size: clamp-size(16);

    & + & {
      margin-top: clamp-size(40);
    }

    span + span {
      margin-top: clamp-size(4);
    }
  }

  .story-image {
    margin-top: clamp-size(80);

    img {
      aspect-ratio: 1.414 / 1;
      object-fit: cover;
    }
  }
</style>
