---
import 'destyle.css';
import '@styles/global.scss';
import 'yakuhanjp/dist/css/yakuhanmp.css';
import '@fontsource/zen-kaku-gothic-new/300.css';
import '@fontsource/zen-kaku-gothic-new/400.css';
import '@fontsource-variable/montserrat';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'calm coffee' } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
    <script src="../lib/menu.ts"></script>
  </body>
</html>

<style lang="scss">
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: YakuHanMP, 'Montserrat Variable', 'Zen Kaku Gothic New', sans-serif;
  }

  .wrapper {
    @include mq-desktop {
      position: relative;
      width: var(--pc-content-width);
      margin-left: auto;
    }
  }

  main {
    width: 100%;
    padding-bottom: clamp-size(64);
  }
</style>
